<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          <li class="p-name">School of MIME</li>
          <li class="p-name">Autonomous Agents and Distributed Intelligence Lab</li>
          <li class="p-name">Oregon State University</li>
          <li class="p-name">Corvallis, Oregon 97331</li>
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <div class="in-parent justify-center align-center">
          <img width="40%" style="padding-top: 0%" src="/assets/images/osu_b.png">
        </div>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
