<!--
<img class="" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
-->

<!--
{% assign member = include.member | default: page.members[0] | default: site.author %}
-->


{% if member.name == "Kagan Tumer" %}

<div class="card" style="/*background-color: azure;*/">
    <div class="portada" style="/*background-color: rebeccapurple;*/">
        <a href="">
            <img src="/assets/images/team/kagan.png" alt="{{ author.name }}" itemprop="image"
                class="img-portada">
        </a>
        <h4 style="padding-top: 10px; text-align: center;">
            Professor <br \>
            CoRIS Institute Director
        </h4>
    </div>
    <div class="title-total">
        <h2>Kagan Tumer</h2>
        <div class="desc">
            <p>At OSU since 2006 Senior Research Scientist, NASA Ames Research Center, 1997–2006. Dr. Tumer's
                research focuses on learning, optimization and control in large complex systems; learning and
                coordination in multiagent systems; distributed reinforcement learning; and evolutionary algorithms
                for control and optimization. Applications of this work include multi-robot coordination, mobile
                robot navigation, distributed sensor coordination, air traffic management, wave energy converter
                optimization, transportation systems, and intelligent energy management.</p>
            <h3>Awards / Accolades</h3>
            <ul>
                <li>Section editor for Advances in Complex Systems </li>
                <li>Associate Editor, Journal of Autonomous Agents and Multiagent Systems</li>
                <li>2017 OSU Excellence in Post-doctoral Mentoring Award</li>
                <li>2010 Program chair, International Conference on Autonomous Agents and Multiagent Systems</li>
            </ul>

        </div>
        <div class="actions" style="/*background-color: yellowgreen;*/">
            <a class="link" href="mailto:kagan.tumer@oregonstate.edu">kagan.tumer@oregonstate.edu</a>
            <a class="link">(541) 737-9899</a>
            <a class="link">314 Graf Hall, Corvallis, OR</a>
        </div>
    </div>
</div>

{% else %}
<div class="card-container">
    <!--<span class="pro">PRO</span>-->
    <div style="/*background-color: bisque;*/ margin: 0px; padding: 0%;">
        <a href="{{member.webpage}}">
            <img src="{{member.picture}}" alt="{{ author.name }}" itemprop="image" class="">
        </a>
    </div>

    <h3>{{member.name}}</h3>
    <h4>{{member.title}}</h4>
    <br />
    <p>
        {{member.excerpt}}
    </p>
    <br />
    <div>
        <a class="link" href="mailto:{{member.email}}">
            Email
        </a>
        <a class="link" href="{{member.webpage}}">
            Webpage
        </a>
    </div>
    <hr>
</div>
{% endif %}