---
layout: base
---


<div class="home">

  <div class="">
    <div>
      <img width="100%" style="padding-top: 0%" src="/assets/images/aadi.png">
    </div>
    <br /><br />
    <div class="footer-col-wrapper in-parent align-top">
      <div class="home-desc">
          Our mission is to develop solutions for distributed intelligence in multi-robot and multiagent systems. This research brings in methods from machine learning, evolutionary algorithms, and has numerous applications, including coordinated healthcare, automated transport, logistics, environmental monitoring, and search & rescue.
        </p>
      </div>

    </div>
  </div>

  <br />
  <header class="about-header">
  </header>

  <p class="home-title">
    News
  </p>
  <ul class="styleul">
    <li>
      The <a href="http://robotics.oregonstate.edu/">Robotics</a> program at Oregon State University is growing. Interested in joining us?
    </li>
    <li>
      Congratulations to Carrie Rebhuhn for successfully defending her PhD Thesis, and Drew Wilson and Brandon Gigious for successfully defending their Masters Theses!
    </li>
    <li>
      Our paper on Evolving Memory-Augmented Neural Architecture for Deep Memory Problems is nominated for best paper at <a href="http://gecco-2017.sigevo.org/index.html/HomePage">GECCO 2017</a>. 
    </li>
    <li>
      Congratulations to Aida Rahmattalabi for successfully defending her Masters Thesis! 
    </li>
    <li>
    Our paper on  <a href="http://ieeexplore.ieee.org/document/7759651/">D++: Structural Credit Assignment</a> in Tightly Coupled Multiagent Domains will appear in <a href="http://www.iros2016.org/">IROS 2016</a>.
    </li>
  </ul>

  <br /><br />



</div>