---
layout: base
---


<div class="home">

  <div class="">
    <div>
      <img width="100%" style="padding-top: 0%" src="/assets/images/aadi.png">
    </div>
    <br />
    <div class="footer-col-wrapper in-parent align-top">
      <div class="home-desc">
        <p class="home-desc">
          I am a PhD student at the
          <a class="reference-url" href="https://research.engr.oregonstate.edu/aadi/home">Autonomous Agents and Distributed
            Intelligence Lab</a>, part of the
          <a class="reference-url" href="https://engineering.oregonstate.edu/CoRIS">Collaborative Robotics and
            Intelligent Systems (CoRIS) Institute</a>
          at Oregon State University, where I work on learning and coordination in multi-robot systems.
          I am advised by
          <a class="reference-url" href="https://web.engr.oregonstate.edu/~ktumer/">Dr. Kagan Tumer</a>.

        </p>
      </div>

    </div>
  </div>

  <br />
  <header class="about-header">
  </header>

  <p class="work-Title">
    News
  </p>
  <ul class="styleul">
    <li>
      <span class="service-name"> Congratulations to Carrie Rebhuhn for successfully defending her PhD Thesis, and Drew Wilson and Brandon Gigious for successfully defending their Masters Theses!</span> </li>
    <li>
      <span class="service-name"> Our paper on Evolving Memory-Augmented Neural Architecture for Deep Memory Problems is nominated for best paper at
        <a class="reference-url" href="https://web.engr.oregonstate.edu/~ktumer/">GECCO 2017</a>.</span> </li>
    <li>
      <span class="service-name"> Congratulations to Aida Rahmattalabi for successfully defending her Masters Thesis! </span> </li>
  </ul>

  <br /><br />



</div>